//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 27 12:57:05 2024
//! **************************************************************************

SCHEMATIC START;
COMP "buzzer_pad" LOCATE = SITE "B3" LEVEL 1;
COMP "epp_data_pads<0>" LOCATE = SITE "B9" LEVEL 1;
COMP "epp_data_pads<1>" LOCATE = SITE "A9" LEVEL 1;
COMP "epp_data_pads<2>" LOCATE = SITE "B10" LEVEL 1;
COMP "epp_data_pads<3>" LOCATE = SITE "A10" LEVEL 1;
COMP "epp_data_pads<4>" LOCATE = SITE "B11" LEVEL 1;
COMP "epp_data_pads<5>" LOCATE = SITE "A11" LEVEL 1;
COMP "epp_data_pads<6>" LOCATE = SITE "B12" LEVEL 1;
COMP "epp_data_pads<7>" LOCATE = SITE "A12" LEVEL 1;
COMP "S6_leds_pads<0>" LOCATE = SITE "N3" LEVEL 1;
COMP "S6_leds_pads<1>" LOCATE = SITE "P3" LEVEL 1;
COMP "S6_leds_pads<2>" LOCATE = SITE "N4" LEVEL 1;
COMP "S6_leds_pads<3>" LOCATE = SITE "P4" LEVEL 1;
COMP "blue_en_pad" LOCATE = SITE "P12" LEVEL 1;
COMP "epp_output_pads<0>" LOCATE = SITE "B6" LEVEL 1;
COMP "shaker_pad" LOCATE = SITE "A2" LEVEL 1;
COMP "green_en_pad" LOCATE = SITE "N12" LEVEL 1;
COMP "S6_btn0_pad" LOCATE = SITE "P8" LEVEL 1;
COMP "S6_btn1_pad" LOCATE = SITE "P9" LEVEL 1;
COMP "lcd_e_pad" LOCATE = SITE "D1" LEVEL 1;
COMP "key_cols_pads<0>" LOCATE = SITE "K2" LEVEL 1;
COMP "key_cols_pads<1>" LOCATE = SITE "L1" LEVEL 1;
COMP "key_cols_pads<2>" LOCATE = SITE "L2" LEVEL 1;
COMP "key_cols_pads<3>" LOCATE = SITE "M1" LEVEL 1;
COMP "key_cols_pads<4>" LOCATE = SITE "M2" LEVEL 1;
COMP "clk_pad" LOCATE = SITE "N8" LEVEL 1;
COMP "sda_pad" LOCATE = SITE "N6" LEVEL 1;
COMP "scl_pad" LOCATE = SITE "P7" LEVEL 1;
COMP "rgb_row_pads<0>" LOCATE = SITE "C13" LEVEL 1;
COMP "rgb_row_pads<1>" LOCATE = SITE "D13" LEVEL 1;
COMP "rgb_row_pads<2>" LOCATE = SITE "D14" LEVEL 1;
COMP "rgb_row_pads<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "rgb_row_pads<4>" LOCATE = SITE "E14" LEVEL 1;
COMP "rgb_row_pads<5>" LOCATE = SITE "G13" LEVEL 1;
COMP "rgb_row_pads<6>" LOCATE = SITE "G14" LEVEL 1;
COMP "rgb_row_pads<7>" LOCATE = SITE "F13" LEVEL 1;
COMP "rgb_col_pads<0>" LOCATE = SITE "F14" LEVEL 1;
COMP "rgb_col_pads<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "rgb_col_pads<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "rgb_col_pads<3>" LOCATE = SITE "J13" LEVEL 1;
COMP "rgb_col_pads<4>" LOCATE = SITE "J14" LEVEL 1;
COMP "rgb_col_pads<5>" LOCATE = SITE "K13" LEVEL 1;
COMP "rgb_col_pads<6>" LOCATE = SITE "K14" LEVEL 1;
COMP "rgb_col_pads<7>" LOCATE = SITE "L13" LEVEL 1;
COMP "lcd_rs_pad" LOCATE = SITE "C1" LEVEL 1;
COMP "lcd_rw_pad" LOCATE = SITE "B1" LEVEL 1;
COMP "epp_input_pads<0>" LOCATE = SITE "A6" LEVEL 1;
COMP "epp_input_pads<1>" LOCATE = SITE "B7" LEVEL 1;
COMP "epp_input_pads<2>" LOCATE = SITE "A7" LEVEL 1;
COMP "sw_led_en_pad" LOCATE = SITE "A3" LEVEL 1;
COMP "lcd_data_pads<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "lcd_data_pads<1>" LOCATE = SITE "H2" LEVEL 1;
COMP "lcd_data_pads<2>" LOCATE = SITE "H1" LEVEL 1;
COMP "lcd_data_pads<3>" LOCATE = SITE "F2" LEVEL 1;
COMP "lcd_data_pads<4>" LOCATE = SITE "F1" LEVEL 1;
COMP "lcd_data_pads<5>" LOCATE = SITE "E2" LEVEL 1;
COMP "lcd_data_pads<6>" LOCATE = SITE "E1" LEVEL 1;
COMP "lcd_data_pads<7>" LOCATE = SITE "D2" LEVEL 1;
COMP "key_rows_pads<0>" LOCATE = SITE "G2" LEVEL 1;
COMP "key_rows_pads<1>" LOCATE = SITE "J1" LEVEL 1;
COMP "key_rows_pads<2>" LOCATE = SITE "J2" LEVEL 1;
COMP "key_rows_pads<3>" LOCATE = SITE "K1" LEVEL 1;
COMP "red_en_pad" LOCATE = SITE "L14" LEVEL 1;
SCHEMATIC END;

